<div class="btn-group btn-group-sm"
    data-pk="{{ record.pk }}"
    data-name="{{ record.name }}"
    data-avatar="{{ record.avatar }}">

    <button title="设置表演学员" class="btn btn-default turn"
        {% if record.playing %}disabled="disabled"{% endif %}>
        <span class="glyphicon glyphicon-play"></span>
    </button>

    <button class="btn btn-default edit" title="编辑学员信息">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    <button class="btn btn-danger delete" title="删除学员信息">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>