#--index-url http://pypi.douban.com/simple

Django
Mysql-python
django_select2
django-tables2
django-dajaxice
django-parsley
django-auth-remember
python-memcached
djangorestframework
django-mysqlpool
httplib2
uwsgi
pillow

django-upload-path-generator
django-render-json
django-render-csv
django-auth-json
django-active-tab
