.main {
    margin:0 auto;
}
.board_img {
    width:480px;
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;

}
.swipe-wrap {
    overflow: hidden;
    position: relative;

}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;

}

.main {
    .studentlist {
        .student {
            width:32.7%;
            display:inline-block;
            .avatar {
                width:100%;
            }
            p {
                text-align:center;
            }
        }   
    }
}
.hold-bottom {
    position:absolute;
    bottom:0;
    height:10%;
    margin:0;
    padding:0;
    background:#000;
    width:100%;
    
    li {
        width:50%;
        float:left;
        text-align:center;
        list-style:none;
        a {
            width:100%;
            font-size:36px;
            color:#fff;
            text-decoration:none;
            text-align:center;
            line-height:200%;
        }
    }
}
.skew-button {
    -webkit-transform: skew(-20deg,0deg);
    transform: skew(-20deg,0deg);
    border:2px dashed rgb(234,124,203);
    height:7%;
    padding:10px 30px 10px 30px;
    background:rgb(113,26,70);
    margin:10px 20px 10px 20px;
    text-decoration:none;
    font-size:20px;
    color:yellow;
    font-family: "Microsoft YaHei";
}
.skew-button:hover {
    color:yellow;
    text-decoration:none;
}
.shew-button-left {
    float:right;
}
.shew-button-right {
    float:left;
}
.bottom {
    width:100%;
    position:absolute;
    bottom:10%;
    padding:0;

    li {
        float:left;
        width:50%;
        text-align:center;
        list-style:none;
        position:relative;
        width:50%;
    }
}
.pop-window {
    background:rgba(104,24,70,0.8);
    width:90%;
    position:absolute;
    padding-bottom:20px;
    left:5%;
    text-align:center;
    .pop-window-header {
        padding-top:50px;
        height:20%;
        .title {
            font-family: MFLangQian_Noncommercial;
            text-align:center;
            font-size:28px;
            color:yellow;
        }
        .pop-close {
            height:18px;
            width:18px;
            top:20px;
            right:20px;
            position:absolute;
        }
        .pop-close:hover {
            cursor:pointer;
        }
        .little {
            text-align:center;
            font-size:14px;
            color:#fff;
            padding-bottom:20px;
        }
        .content {
            width:100%;
            float:left;
            font-size:16px;
            color:#fff;
            .yellow {
                color:yellow !important;

            }
        }
    }
    input[type="text"] {
        display:block;
        margin-left:10%;
        margin-bottom:10px;
        border:1px solid #ccc;
        background:#fff;
        padding-top:10px;
        padding-bottom:10px;
        width:80%;
    }
    .button_area {
        margin-top:30px;
    }
}
.instruction {
    top:5%;
    padding:20px;
    padding-top:30px !important;
    .content {
        text-align:left;
    }
}
.blur {    
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);    
    filter: blur(10px);    
}
