<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>摇一摇</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shake.css">
</head>
<body>
    <div class="container">
        <div class="entry">
            <a href="vote">
                <img src="{{ STATIC_URL }}img/shake/entry.png">
            </a>
            <img src="{{ STATIC_URL }}img/shake/tip.png" class="tip">
        </div>
        <div class="button-bar">
            <button class="btn-cv left">活动说明</button>
            <span class='button-seperator'></span>
            <button class="btn-cv right">最V榜单</button>
        </div>
    </div>
</body>
</html>