<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全民摇一摇</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shake/shake.css">
</head>
<body>
<audio id="player" src="/static/music/shake_sound_male.ogg" control></audio>
    <div class="container">
        <div class="entry">
            <a href="#vote">
                <img src="{{ STATIC_URL }}img/shake/entry.png">
            </a>
            <img src="{{ STATIC_URL }}img/shake/tip.png" class="tip">
        </div>
        <div class="votes" style="display: none;">
            <div class="count"><span class='tickets'>{{ vote|default:0 }}</span>票</div>
            
            <img src="{{ STATIC_URL }}img/shake/shake-tip.png">
            <img src="{{ STATIC_URL }}img/shake/shakehands.png" class="shakehands"/>
        </div>

        <div class="button-bar">
            <button class="btn-cv left">活动说明</button>
            <span class='button-seperator'></span>
            <button class="btn-cv right">最V榜单</button>
        </div>
    </div>
    <div class="rules" style="display: none;">
        <img src="{{ STATIC_URL }}img/shake/rules.png" alt="">
        <button class="exit"></button>
    </div>
    <div class="rules-overlay" style="display: none;">
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/require.config.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js">
    </script>
    <script type="text/javascript">
        require(["js/shake/index"]);
    </script>
</body>
</html>