<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全民摇一摇</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shake/lottery.css">
</head>
<body>
    <input type="hidden" id="playing" value="{{ playing }}">
    <div class="container">
        <img class='header' src="{{ STATIC_URL }}img/shake/lottery-head.png" alt="">
        <div class="bottle">
            <div class="bottle-body">
                <canvas width="90" height="140"></canvas>
            </div>
        </div>
        <div class="button-bar">
            <button class="btn-cv left">活动说明</button>
            <span class='button-seperator'></span>
            <button class="btn-cv right">中奖名单</button>
        </div>
    </div>

    <div class="rules" style="display: none;">
        <img src="{{ STATIC_URL }}img/shake/rules.png" alt="">
        <button class="exit"></button>
    </div>
    <div class="rules-overlay" style="display: none;"></div>
    <div class="prompt-overlay"></div>

    <div class="lottery-result" style="display: none;"></div>
    <div class="lottery-result-overlay" style="display: none;">
        <img src="{{ STATIC_URL }}img/shake/share-arrow.png" alt="">
    </div>

    <div class="phone-prompt">
        <form class="phone-prompt-form">
            <input type="text" name="phone" required pattern="^(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}$">
            <input type="submit" value="">
            <p>手机号将作为发奖和参与凭证</p>
        </form>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}components/wechat-share/browser.js">
    </script>
    <script>
    wechatshare({
        link: "http://wx.jdb.cn/shake/",
        desc: '全民摇一摇',
        title: '差点就刮到加多宝中国好声音总决赛门票了',
        imgUrl: "http://wx.jdb.cn/static/img/share.jpg"
    });
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/shake/lottery.bundle.js">
    </script>
    <script type="text/javascript">
        require(["js/shake/lottery"]);
    </script>
</body>
</html>