<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全民摇一摇 - 排名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shake/rank.css">
</head>
<body>
    <div class='container bg'></div>
    <div class="container">
        <div class="cells">
            <h4>第一周</h4>
            {% for student in students %}
            {% if student.getVote > 1 %}
            <div class="cell">
                <img src="{{ student.avatar }}" alt="{{ student.name }}">
                <p class="name">{{ student.name }}</p>
                <p class="vote">{{ student.getVote }}票</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <script src="{{ STATIC_URL }}/components/wechat-share/browser.js"></script>
    <script>
    wechatshare({
        link: "http://wx.jdb.cn/shake/",
        desc: '全民摇一摇',
        title: '边看好声音边投票，世界上第一款直播摇一摇投票神器',
        imgUrl: "http://wx.jdb.cn/static/img/share.jpg"
    });
    </script>
</body>
</html>
