<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>摇一摇</title>
    <meta name=”viewport” content=”user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0″>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vote.css">
    <script>
        window.addEventListener('touchstart', function(e) {
            e.preventDefault();
        }, false);
    </script>
</head>
<body>
    <div class="container">
        <div class="votes h1">1001</div>
    </div>

    <div class="loader" style="">
        <img src="{{ STATIC_URL }}/img/loading.gif" alt="">
    </div>
    <div class="loader-overlay" style="">
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/require.config.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js">
    </script>
    <script type="text/javascript">
        require(["shake-vote"]);
    </script>
</body>
</html>