<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>摇一摇</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vote.css">
</head>
<body>
    <div class="container">
        <div class="votes h1">{{ vote|default:"0" }}</div>
    </div>

    
    <script type="text/javascript" src="{{ STATIC_URL }}js/require.config.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js">
    </script>
    <script type="text/javascript">
        require(["shake-vote"]);
    </script>
</body>
</html>