{% extends "promotion/promotion_header.html" %}
{% block promotion %}
<div class="pop-window">
<div class="pop-window-header">
<img class="pop-close" src="/static/promotion/image/plus.png"/>
<p class="title">对不起您输入的手机号格式不正确请重新输入</p>
<br><br>
</div>
<!--<form action="/promotion/mobvet_post/1/" method="post">-->{% csrf_token %}
<input type="text" style="display:none;" class="openId" data-value="{{ openID }}" name="openID"/>
<button class="skew-button mob_re">重新输入</button> 
<!--</form>-->
</div>
{% endblock %}