{% extends "promotion/promotion_header.html" %}
{% block promotion %}
<div class="pop-window">
<div class="pop-window-header  instruction">
<img class="pop-close" src="/static/promotion/image/plus.png"/>

<p class="title"><img src="/static/promotion/image/instruction_title.png"/></p>
<p class="content">
	<span class="yellow">活动时间：</span><span>2014年7月18日-2014年9月30日</span>
</p>
<p class="content">
	<span class="yellow">活动说明：</span><span>收看加多宝第三季中国好声音，每期晋级学员中哪一位是你的最爱？赶快为你认为最好的声音加V，好声音学员期待你的认可与鼓励！谁将最终获得最多“V”认证，问鼎14年“加多宝正宗好声音”总冠军获取荣誉及巨额奖金，决策权就在你手中！参与活动不仅可以得到丰厚奖品，还有机会获得亲临中国好声音决赛现场观赛的机会哦！</span>
</p>
<p class="content">
	<span class="yellow">参与说明：</span><span>通过加多宝中国好声音促销罐罐码可以投10票；手机投票每天仅能投一票！</span>
</p>
<p class="content">
	<span class="yellow">奖项设置：</span><span>1、直通好声音奖：总决赛门票！获奖名单公布时间：2014年9月22日<br>
	2、正宗好声音终极大奖ipadmini<br>成功猜中“加多宝正宗好声音”总冠军的所有网友随机抽取4名获奖网友；<br>名单公布时间：2014年10月11日<br>
	3、正宗好声音周大奖 50元手机话费<br>每周评选出1名加多宝好声音学员，<br>成功竞猜网友抽取1名获奖，共5名；</span>
</p>
<p class="content">
	以上中奖者请留意加多宝凉茶官方微信日常发布的中奖名单！
</p>

</div>
</div>
{% endblock %}