{% extends "promotion/promotion_header.html" %}
{% block promotion %}
<body class="background">
<div class="backblur">
<div class="main">
<div>
<p class="logo"><img src="/static/promotion/image/plus_V_logo.png" class="plusVlogo"/></p>
</div>
<div>
<input type="text" style="display:none;" class="openId" data-value="{{ openID }}" name="openID"/>
<ul class="firstThree">
{% for i in studentlist %}
	<li>
		<div>
			<span class="left">&nbsp;&nbsp;&nbsp;{{ i.ranked }}&nbsp;&nbsp;&nbsp;</span><img src="{{ i.Avatar }}" class="top_three_img"/>
			<div class="right">
			<p class="name">{{ i.Name }}</p>
			<p>{{ i.Votes }}<img src="/static/promotion/image/piao.png"/></p>
			</div>
		</div>
	</li>
{% endfor %}
</ul>
<img src="/static/promotion/image/top_three_logo.png" class="top_three_logo"/>
</div>

<ul class="bottom clearfix">

<li>
	<a class="skew-button shew-button-left pull-right provet_link" href="javascript:;">罐码投票</a>
</li>
<li>
	<a class="skew-button shew-button-right pull-left mobvet_link" href="javascript:;">手机号码投票</a>
</li>
</ul>



</div>

<script>
    var cnt = 0;
	function getmessage(){
		jQuery.get("/promotion/getFirstThree/", {}).then(function(data){
	        jQuery(".firstThree").html(jQuery(data).find(".firstThree").html());
		      
		    setTimeout(function(){
		    	getmessage();
		    },2000);
	    });
	}
	window.onload = function() {
		setTimeout(function ()	{
	        getmessage();
	    }, 2000);
	}
</script>
{% endblock %}
