<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" name="viewport">
    <title>促销罐投票</title>
    {% block css %}
    <link rel="stylesheet" 
        href="{{ STATIC_URL }}components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/promotion.css">
    {% endblock %}
    <script src="{{ STATIC_URL }}/components/wechat-share/browser.js"></script>
    <script>
    var path = "http://wx.jdb.cn/";
    wechatshare({
        link: path+"promotion/",
        desc: '我刚给好声音学员XX投了一票，你也来吧',
        title: '为正宗好声音加V',
        imgUrl: path+"static/promotion/image/Can.png"
    });
    </script>
  
	    
</head>

	{% block promotion %}

	{% endblock %}
</div>
	{% block bottom %}
	<img class="black_bottom" src="/static/promotion/image/black_bottom.png"/>
	<ul class="hold-bottom clearfix">
	<li class="left-bottom-li">
		<a class="bottom-left instruction_link" href="javascript:;">活动说明</a>
	</li>

	<li class="right-bottom-li">
		<a class="bottom-right vboard_link" href="/promotion/studentlist/">最V榜单</a>
	</li>
</ul>

<div class="pop-window" style="display:none"></div>
{% endblock %}
</body>
</html>
{% block js %}	
<script type="text/javascript" src="{{ STATIC_URL }}js/require.config.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js">
</script>
<script>require(["promotion"])</script>
{% endblock %}