<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" name="viewport">
    
    {% block js %}	
	<script type="text/javascript" src="{{ STATIC_URL }}js/require.config.js">
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js">
	</script>
	<script>require(["promotion"])</script>
	{% endblock %}
	{% block css %}
    <link rel="stylesheet" 
        href="{{ STATIC_URL }}components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/promotion.css">
    {% endblock %}
    
</head>
<body>
	{% block promotion %}

	{% endblock %}
	{% block bottom %}
	<img class="bottom_div" src="/static/promotion/image/bottom_div.png"/>
	<ul class="hold-bottom clearfix">
	<li class="left-bottom-li">
		<a class="bottom-left instruction_link" href="javascript:;">活动说明</a>
	</li>

	<li class="right-bottom-li">
		<a class="bottom-right vboard_link" href="/promotion/studentlist/">最V榜单</a>
	</li>
</ul>
<div class="pop-window" style="display:none"></div>
{% endblock %}
</body>
</html>
