{% extends "promotion/promotion_header.html" %}
{% block promotion %}

<div class="main">
<ul class="bottom clearfix">
<li>
	<a class="skew-button shew-button-left pull-right provet_link" href="javascript:;">罐码投票</a>
</li>
<li>
	<a class="skew-button shew-button-right pull-left mobvet_link" href="javascript:;">直接投票</a>
</li>
</ul>
<ul class="hold-bottom clearfix">
	<li class="left-bottom-li">
		<a class="bottom-left instruction_link" href="javascript:;">活动说明</a>
	</li>

	<li class="right-bottom-li">
		<a class="bottom-right vboard_link" href="studentlist/">最V榜单</a>
	</li>
</ul>

</div>
<div class="pop-window" style="display:none"></div>
{% endblock %}
