{% extends "promotion/promotion_header.html" %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}components/swiper/dist/idangerous.swiper.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/promotion.css"/>
{% endblock %}
{% block promotion %}
<body class="vboard_background">
<div class="backblur">
<div class="vboard-title">
<img src="/static/promotion/image/vboard.png"/>
</div>
<div class="main">
<input type="text" style="display:none;" class="openID" value="{{ openID }}" name="openID"/>
<div class="studentlist">

{% ifnotequal None mobile %}
{% ifnotequal None circle %}
{% ifnotequal None top %}
{% for i in studentlist %}
<div class="student">
<div class="avatar">
    <a href="/promotion/Vboard/{{ i.StudentId }}/">
      <img src="{{ i.Avatar }}" class="avatar"/>
      <div class="name">{{ i.Name }}</div>
    </a>
</div>
    <p>{{ i.Votes }}票</p>
    <p><img src="/static/promotion/image/v_logo.png" class="plus_v"/></p>
</div>
{% endfor %}
{% endifnotequal %}
{% endifnotequal %}
{% endifnotequal %}
{% ifnotequal None mobile %}
{% ifequal None circle %}
{% ifequal None top %}
{% for i in studentlist %}
<div class="student">
<div class="avatar">
    <a href="/promotion/Vboard/{{ i.StudentId }}/">
      <img src="{{ i.Avatar }}" class="avatar"/>
      <div class="name">{{ i.Name }}</div>
    </a>
</div>
    <p>{{ i.Votes }}票</p>
    <p><img src="/static/promotion/image/v_logo.png" class="plus_v"/></p>
</div>
{% endfor %}
{% endifequal %}
{% endifequal %}
{% endifnotequal %}
{% ifequal None mobile %}
{% ifequal None circle %}
{% ifequal None top %}
{% for i in studentlist %}
<div class="student">
<div class="avatar">
    <a href="/promotion/Vboard/{{ i.StudentId }}/">
      <img src="{{ i.Avatar }}" class="avatar"/>
      <div class="name">{{ i.Name }}</div>
    </a>
</div>
    <p>{{ i.Votes }}票</p>
    <p><img src="/static/promotion/image/v_logo.png" class="plus_v"/></p>
</div>
{% endfor %}
{% endifequal %}
{% endifequal %}
{% endifequal %}
</div>
<div class="tip" style="display:none;"></div>
</div>
</div>
<script>
    window.onload = function() {
        jQuery(".tip").html("本次为正宗好声音加V投票活动通过加多宝活动官网、手机官网、加多宝凉茶官方微信同时进行，票数为三方平台实时统计。");
        jQuery(".tip").velocity("fadeIn");
        setTimeout(function(){
            jQuery(".tip").velocity("fadeOut");
        },5000);
    }
</script>
{% endblock %}
