{% extends "promotion/promotion_header.html" %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}components/swiper/dist/idangerous.swiper.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/promotion.css"/>
{% endblock %}
{% block promotion %}
<div class="vboard-title">
<img src="/static/promotion/image/vboard.png"/>
</div>
<div class="main">


<div class="studentlist">

{% ifnotequal None mobile %}
{% ifnotequal None circle %}
{% ifnotequal None top %}
{% for i in studentlist %}

<div class="student">
    <a href="/promotion/vet/{{ i.id }}/">
      <img src="{{ i.avatar }}" class="avatar"/>
    </a>
    <p>{{ i.ticketnum }}票</p>
    <p>{{ i.name }}</p>
    
</div>
{% endfor %}
{% endifnotequal %}
{% endifnotequal %}
{% endifnotequal %}
{% ifnotequal None mobile %}
{% ifequal None circle %}
{% ifequal None top %}
{% for i in studentlist %}
<div class="student">
    <a href="/promotion/mobvet_post/{{ i.id }}/">
      <img src="{{ i.avatar }}" class="avatar"/>
    </a>
    <p>{{ i.ticketnum }}票</p>
    <p>{{ i.name }}</p>
   
</div>
{% endfor %}
{% endifequal %}
{% endifequal %}
{% endifnotequal %}
{% ifequal None mobile %}
{% ifequal None circle %}
{% ifequal None top %}
{% for i in studentlist %}
<div class="student">
    <a href="/promotion/Vboard/{{ i.id }}/">
      <img src="{{ i.avatar }}" class="avatar"/>
    </a>
    <p>{{ i.ticketnum }}票</p>
    <p>{{ i.name }}</p>
</div>
{% endfor %}
{% endifequal %}
{% endifequal %}
{% endifequal %}
</div>
<div></div>
</div>
{% endblock %}
