{% extends "promotion/promotion_header.html" %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}components/swiper/dist/idangerous.swiper.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/promotion.css"/>
{% endblock %}
{% block promotion %}
<body>
<div class="backblur">
<input type="text" style="display:none;" class="openId" data-value="{{ openID }}" name="openID"/>
<div class="swiper-container">
  <div class="swiper-wrapper">
    {% if dovet == 'mob' %}
      {% for i in studentlist %}
  		  <div class="swiper-slide"> 
          
            <!-- Any HTML content of the first slide goes here -->
                      <div class="vboard_div">
            <p class="board_name">{{ i.Name }}</p>
            <p class="board_ticket">{{ i.Votes }}票</p>
            <p class="board_name">为Ta投票</p>
            <a class="postticket" href="javascript:;" id="{{ i.StudentId }}" class="postticket"><img src="/static/promotion/image/v_logo.png"/></a>
            </div>
            <img class="board_img" src="/static/promotion/image/period1/{{ i.Name }}.jpg" />
  
          
          </div>
      	
    	{% endfor %}     
    	{% endif %}

    	{% if dovet == 'pro' %}

  		{% for i in studentlist %}
  		
      	<div class="swiper-slide"> 
          
            <!-- Any HTML content of the first slide goes here -->
             <div class="vboard_div">
            <p class="board_name">{{ i.Name }}</p>
            <p class="board_ticket">{{ i.Votes }}票</p>
            <p class="board_name">为Ta投票</p>
            <a class="postticket" href="javascript:;" id="{{ i.StudentId }}" class="postticket"><img src="/static/promotion/image/v_logo.png"/></a>
            </div>
            <img class="board_img" src="/static/promotion/image/period1/{{ i.Name }}.jpg" />
           
          
          </div>

      	{% endfor %}     
      	{% endif %}
      	{% if dovet == 'dir' %}
    		{% for i in studentlist %}
        	<div class="swiper-slide"> 
          
          	<!-- Any HTML content of the first slide goes here -->
            <div class="vboard_div">
            <p class="board_name">{{ i.Name }}</p>
            <p class="board_ticket">{{ i.Votes }}票</p>
            </div>
          	<img class="board_img" src="/static/promotion/image/period1/{{ i.Name }}.jpg" />
            
          
        </div>

      	{% endfor %}     
      	{% endif %}
  </div>
</div>

{% endblock %}


