<html>
    <head>
        <script>
            setTimeout(function(){
                location.href="static/pages/apppage/detail.html#6";
            },2000)
        </script>
    </head>
    <body style="background:rgb(255,178,40)">
        <div style="margin-top:40%;;font-size:1em;color:rgb(209,112,43);text-align:center;">
            反馈成功，谢谢您的参与。
        </div> 
        <!--<div style="float:right;margin-top:70%;">
            <a style="color:#fff;text-decoration:none;" href="/static/pages/apppage/sub_7_4.html">点击返回</a>
        </div>--> 
    </body>
</html>

