@entry: -5px, -5px, 342px, 507px;
@rules: -5px, -522px, 525px, 870px;
@shake-tip: -5px, -1402px, 410px, 54px;
@shakehands: -5px, -1466px, 298px, 337px;
@tip: -5px, -1813px, 471px, 244px;

.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite(@sprite) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.icon {
  background-image: url('/static/img/shake/shake.png');
}

